html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.6rem;
  min-height: 100vh;
}

:root {
  --fs-xs: clamp(1rem, 0.8rem + 1vw, 2rem);
  --fs-s: clamp(1rem, 0.619rem + 1.9048vw, 3rem);
  --fs-m: clamp(1.5rem, 1rem + 2.5vw, 4rem);
  --fs-l: clamp(2rem, 1rem + 5vw, 7rem);

  --fs-chakra: "Chakra Petch", sans-serif;
  --fs-montserrat: "Montserrat", sans-serif;

  --color-first: #02004a;
  --color-second: #4e4d8a;
  --color-third: #6f5b97;
  --color-forth: #876487;
  --color-white: #fff;
  --color-alpha: rgba(0, 0, 0, 0.8);

  --margin-s: 5%;
  --margin-m: 10%;
  --margin-l: 15%;
}
.side-margin {
  margin: 0 var(--margin-m);
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
}

.cc-img {
  background-position: center;
  background-size: cover;
}

.bold {
  font-weight: bold;
}
.color-first {
  color: var(--color-first);
}

h1,
h2,
h3,
h4 {
  font-family: var(--fs-chakra);
}
.column-wrapper {
  flex-direction: column;
}

/********* Index *********/

/****** header *******/

header {
  background-image: url(../images/luke-v.jpg);
  width: 100%;
  flex-direction: column;
  padding: 0 5%;
  background-position: top;
  background-size: cover;
}
.bar-section {
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  width: 100%;
}

.logo-img {
  width: var(--fs-l);
}

#menubar,
nav {
  display: none;
}
#menubar:checked ~ nav {
  display: block;
}
nav {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 5%;
}

nav a {
  font-family: var(--fs-chakra);
  display: block;
  color: var(--color-white);
  text-decoration: none;
  font-size: var(--fs-xs);
  margin-right: 15px;
}

nav a:hover {
  text-decoration: underline;
}

.fa-bars {
  color: var(--color-white);
  font-size: 2rem;
}

@media (max-width: 767px) {
  nav {
    margin-top: 1rem;
    background-image: url(../images/luke-v.jpg);
    background-position: center 10%;
    background-size: cover;
  }
}

@media (min-width: 768px) {
  nav {
    display: block;
    display: flex;
    position: static;
    padding: 0;
  }

  nav a {
    margin-left: 1.5rem;
  }
  #menubar {
    display: none;
  }

  .menu-label {
    display: none;
  }
  nav hr {
    display: none;
  }
}

.hero-text {
  color: var(--color-white);
  text-align: right;
}

.hero-text h1 {
  font-size: var(--fs-l);
  margin-bottom: 0;
}

.hero-text p {
  font-family: var(--fs-montserrat);
  font-size: var(--fs-s);
  font-style: italic;
}

.planet-img {
  background-image: url(../images/solen.png);
  height: clamp(10rem, 6rem + 20vw, 30rem);
  aspect-ratio: 2/1;
}

/******* body *******/

.hr-margin {
  font-size: var(--fs-m);
  margin-bottom: 0;
}

.events-home {
  position: relative;
  margin-bottom: var(--margin-m);
}

.events-home-img img {
  height: auto;
  width: 70%;
}
.events-home-img {
  position: relative;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-alpha);
  overflow: hidden;
  width: 70%;
  height: 7vh;
  transition: 0.5s ease;
  color: var(--color-white);
  margin-left: 50%;
  transform: translateX(-50%);
  font-family: var(--fs-montserrat);
  font-size: var(--fs-xs);
  padding: 0 5%;
}
.overlay h4 {
  margin-top: 5%;
  font-size: var(--fs-m);
}

.home-text-wrapper {
  font-size: var(--fs-s);
  font-family: var(--fs-montserrat);
}

.home-wrapper hr {
  width: 10vw;
  border-top: 4px solid var(--color-first);
  border-bottom: none;
  margin-bottom: var(--margin-s);
}
.home-text-img {
  background-image: url(../images/games.jpg);
  width: 90%;
  aspect-ratio: 1/1;
}
.exhibition-home {
  width: 100%;
}
.exhibition-home-img {
  background-image: url(../images/show.jpg);
  width: 100%;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: var(--margin-m);
}

.alpha-div {
  background-color: var(--color-alpha);
  color: var(--color-white);
  padding: 0 2rem;
}
.alpha-div a {
  color: var(--color-white);
  text-decoration: none;
}

.museum-text-wrapper {
  flex-wrap: wrap;
  font-size: var(--fs-s);
  margin-bottom: var(--margin-m);
  font-family: var(--fs-montserrat);
}

.museum-img {
  background-image: url(../images/museum.jpg);
  width: 90%;
  aspect-ratio: 1/1;
}

@media (min-width: 850px) {
  .overlay h4 {
    font-size: var(--fs-xs);
  }

  .home-text-wrapper,
  .events-home-wrapper {
    flex-direction: row;
  }
  .home-text-wrapper,
  .museum-text-wrapper {
    gap: var(--margin-s);
  }
  .home-text-img,
  .museum-img {
    width: 40%;
  }

  .home-text-wrapper p,
  .museum-text-wrapper section {
    width: 60%;
  }

  .museum-text-wrapper {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }
}

/********** footer *********/
footer {
  background-color: #313131;
  color: var(--color-white);
  font-family: var(--fs-montserrat);
  font-size: var(--fs-xs);
  padding: var(--margin-s);
}

footer h5 {
  font-size: var(--fs-m);
  margin: 3%;
}
footer section {
  margin: 5% 0;
}

.time p {
  margin: 0 10px;
}

.icon-footer {
  font-size: var(--fs-m);
}

@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .location-footer {
    margin-bottom: 20%;
  }
}

/******** Visit *********/

.location-section p {
  font-size: var(--fs-xs);
  margin: 0;
  font-family: var(--fs-montserrat);
}

.main-img {
  width: 100%;
  height: 30vh;
  align-items: flex-end;
  justify-content: end;
}

.visit-img {
  background-image: url(../images/library.jpg);
}
.head-div {
  padding: 0 10%;
}

div h1 {
  font-size: var(--fs-m);
}

.visit-bg {
  background-color: rgba(111, 91, 151, 0.3);
  padding: 20%;
  row-gap: 30px;
  margin: 5% 0;
}
.visit-box {
  background-color: var(--color-white);
  box-shadow: 3px 3px 5px #666;
  flex-direction: column;
  padding: 5%;
  max-width: 400px;
  font-size: var(--fs-s);
}
.visit-box i {
  font-size: var(--fs-l);
}

.visit-box-text {
  font-size: var(--fs-xs);
  font-family: var(--fs-montserrat);
}
.visit-text {
  font-family: var(--fs-montserrat);
  font-size: var(--fs-xs);
}
.visit-text p {
  margin: 0;
}
.map {
  height: 50rem;
  margin-bottom: 20%;
}
.map iframe {
  height: 100%;
  width: 100%;
}
.hours-section {
  width: 60%;
}
.hours-section section {
  gap: 5%;
}
.hours-section h3,
.admission-section h3,
.location-section h3 {
  font-size: var(--fs-m);
}
@media (min-width: 1000px) {
  .admission-hours,
  .visit-bg {
    flex-direction: row;
    align-items: flex-start;
  }
  .visit-bg {
    column-gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: stretch;
  }

  .shop-box {
    padding-top: 15%;
  }

  .shop-titel {
    margin-bottom: 5%;
  }
  .visit-box {
    height: 100%;
    min-width: 300px;
  }
  .hours-section {
    width: 45%;
  }
  .admission-section {
    width: 55%;
  }
}

/* Get Involved */

.involved-img {
  background-image: url(../images/involved.jpg);
}

.bg-purple {
  background-color: var(--color-forth);
}
.bg-blue-purple {
  background-color: #6f5b97;
}
.bg-blue {
  background-color: var(--color-second);
}

.bg-blue,
.bg-blue-purple,
.bg-purple {
  color: var(--color-white);
  padding: var(--margin-s);
}
.bg-blue p,
.bg-blue-purple p,
.bg-purple p {
  font-family: var(--fs-montserrat);
  font-size: var(--fs-xs);
}
.bg-blue h3,
.bg-blue-purple h3,
.bg-purple h3 {
  font-size: var(--fs-m);
}

.involved-wrapper {
  gap: 5%;
  margin: var(--margin-s);
  margin-bottom: 35%;
}
.volunteer-img {
  background-image: url(../images/volunteer.jpg);
  width: 90%;
  aspect-ratio: 1/1.3;
  margin: auto;
}

@media (min-width: 768px) {
  .involved-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: var(--margin-s);
  }
  .internship-section {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }
  .support-section {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
  }
  .volunteer-section {
    grid-column: 2 / 2;
    grid-row: 1 / span 2;
  }
}

/* Explore */

.explore-img {
  background-image: url(../images/exhibition-1.jpg);
}
.explore-wrapper {
  margin-bottom: var(--margin-m);
}
.explore-wrapper h2 {
  font-size: var(--fs-l);
  margin-bottom: 0;
}
.explore-wrapper hr {
  width: 10vw;
  border-top: 4px solid;
  border-bottom: none;
}
.kids-section,
.kids-girl-section,
.kids-boy-section,
.teachers-section,
.researchers-section {
  flex-direction: column;
}

.text-purple {
  color: #542253;
}
.text-blue-purple {
  color: #31156a;
}
.text-blue {
  color: var(--color-first);
}
.kids-img-girl {
  background-image: url(../images/kid.jpg);
  width: 90%;
  margin: auto;
  aspect-ratio: 2/1;
}
.kids-img-boy {
  background-image: url(../images/kid-2.jpg);
  width: 90%;
  margin: auto;
  aspect-ratio: 2/1;
}
.teachers-img {
  background-image: url(../images/teacher.jpg);
  width: 90%;
  margin: auto;
  aspect-ratio: 2/1;
}
.researchers-img {
  background-image: url(/images/scientific.jpg);
  width: 90%;
  margin: auto;
  aspect-ratio: 2/1;
}

@media (min-width: 768px) {
  .kids-boy-section p,
  .kids-img-boy,
  .kids-girl-section p,
  .kids-img-girl,
  .teachers-img,
  .teachers-section p,
  .researchers-img,
  .researchers-section p {
    width: 50%;
  }
  .kids-img-boy,
  .kids-img-girl,
  .teachers-img,
  .researchers-img {
    aspect-ratio: 1.5/1;
    margin: 0 3%;
  }
  .kids-boy-section {
    flex-direction: row-reverse;
  }
  .kids-girl-section {
    flex-direction: row;
  }

  .teachers-section {
    flex-direction: row;
  }
  .researchers-section {
    flex-direction: row-reverse;
  }
}

/* Exhibition */

.exhibition-text {
  font-size: var(--fs-xs);
  font-family: var(--fs-montserrat);
}

.exhibition-nav {
  margin: 2%;
}

.exhibition-nav a {
  color: black;
  font-family: var(--fs-chakra);
  text-decoration: none;
  font-size: var(--fs-s);
}

.exhibition-img {
  background-image: url(../images/show.jpg);
}

.exhibition-wrapper {
  margin-top: 40%;
}

.exhibition-bg {
  background-color: #d4cee0;
  margin-top: var(--margin-m);
  position: relative;
  padding: 30% 5% 5% 5%;
  margin-bottom: 50%;
}

.galaxy-img img,
.mammoth-img img,
.heart-img img,
.robot-img img,
.plant-img img {
  width: 80%;
  aspect-ratio: 1.5/1;
  object-fit: cover;
  position: absolute;
  top: -30%;
}

@media (min-width: 500px) {
  .exhibition-wrapper {
    margin-top: 10%;
  }

  .galaxy-img img,
  .mammoth-img img,
  .heart-img img,
  .robot-img img,
  .plant-img img {
    width: 100%;
    aspect-ratio: 1/1;
    position: static;
  }

  .exhibition-bg {
    margin-top: var(--margin-m);
    position: static;
    padding: 5% 5% 5% 5%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
    gap: 5%;
  }
  .exhibition-text {
    width: 200%;
  }

  .row-first {
    flex-direction: row-reverse;
  }
}

/* Events */

.events-img {
  background-image: url(../images/ant.jpg);
}
.gray-bg {
  background-color: #d4cee0;
  padding: var(--margin-m);
}
.events-wrapper {
  margin-top: var(--margin-m);
}

.plane-section,
.t-rex-section,
.energy-section {
  position: relative;
  margin-bottom: var(--margin-s);
}

.plane-img,
.t-rex-img,
.energy-img {
  background-image: url(../images/plane.jpg);
  width: 60%;
  margin: auto;
  aspect-ratio: 1/1;
  margin-bottom: -10%;
  z-index: 1;
  position: relative;
}

.t-rex-img {
  background-image: url(../images/dino.jpg);
  background-size: cover;
}

.energy-img {
  background-image: url(../images/energy.jpg);
}
.gray-bg h3 {
  font-size: var(--fs-m);
}

.gray-bg p {
  font-size: var(--fs-xs);
  font-family: var(--fs-montserrat);
}

@media (min-width: 768px) {
  .plane-section {
    display: flex;
    align-items: center;
    margin: 0 5% 5% 5%;
  }
  .plane-img {
    margin: 0 -5% 0 0;
    height: 50%;
    width: 40%;
  }

  .gray-bg {
    height: 50%;
    width: 65%;
    padding: 0 5% 5% 10%;
  }

  .t-rex-section {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0 5% 5% 5%;
  }
  .t-rex-img {
    margin: 0 0 0 -5%;
    height: 50%;
    width: 40%;
  }
  .energy-section {
    display: flex;
    align-items: center;
    margin: 0 5% 5% 5%;
  }
  .energy-img {
    margin: 0 -5% 0 0;
    height: 50%;
    width: 40%;
  }
  .t-rex-section .gray-bg {
    padding: 0 10% 5% 5%;
  }
}
