html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}

body {
  /* margin: 0; */
  font-size: 1.6rem;
  min-height: 100vh;
}

:root {
  --fs-s: clamp(1.3rem, 1.06rem + 1.2vw, 2.5rem);
  --fs-m: clamp(1.5rem, 1rem + 2.5vw, 4rem);
  --fs-l: clamp(2rem, 1rem + 5vw, 7rem);

  --fs-chakra: "Chakra Petch", sans-serif;
  --fs-montserrat: "Montserrat", sans-serif;

  --color-first: #02004a;
  --color-second: #4e4d8a;
  --color-third: #6f5b97;
  --color-forth: #876487;
  --color-white: #fff;
  --color-alpha: rgba(0, 0, 0, 0.8);

  --margin-s: 5%;
  --margin-m: 10%;
  --margin-l: 15%;
}
.side-margin {
  margin: 0 var(--margin-m);
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
}

.cc-img {
  background-position: center;
  background-size: cover;
}

.bold {
  font-weight: bold;
}
.color-first {
  color: var(--color-first);
}

h1,
h2,
h3,
h4 {
  font-family: var(--fs-chakra);
}
.column-wrapper {
  flex-direction: column;
}

/********* Index *********/

/****** header *******/

header {
  background-image: url(../images/luke-v.jpg);
  width: 100%;
  flex-direction: column;
  padding: 0 5%;
  background-position: top;
  background-size: cover;
}
.bar-section {
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  width: 100%;
}

.logo-img {
  width: var(--fs-l);
}

#menubar,
nav {
  display: none;
}
#menubar:checked ~ nav {
  display: block;
}
nav {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 5%;
}

nav a {
  font-family: var(--fs-chakra);
  display: block;
  color: var(--color-white);
  text-decoration: none;
  font-size: var(--fs-s);
}
nav a:hover {
  text-decoration: underline;
}

.fa-bars {
  color: var(--color-white);
  font-size: 2rem;
}

@media (max-width: 767px) {
  nav {
    margin-top: 1rem;
    background-image: url(../images/luke-v.jpg);
    background-position: center 10%;
    background-size: cover;
  }
}

@media (min-width: 768px) {
  nav {
    display: block;
    display: flex;
    position: static;
    padding: 0;
  }

  nav a {
    margin-left: 1.5rem;
  }
  #menubar {
    display: none;
  }

  .menu-label {
    display: none;
  }
  nav hr {
    display: none;
  }
}

.hero-text {
  color: var(--color-white);
  text-align: right;
}

.hero-text h1 {
  font-size: var(--fs-l);
  margin-bottom: 0;
}

.hero-text p {
  font-family: var(--fs-montserrat);
  font-size: var(--fs-s);
  font-style: italic;
}

.planet-img {
  background-image: url(../images/solen.png);
  height: clamp(10rem, 6rem + 20vw, 30rem);
  aspect-ratio: 2/1;
}

/******* body *******/

.home-wrapper h3 {
  font-size: var(--fs-m);
}
.overlay h4 p {
  font-size: var(--fs-s);
}

.events-home {
  position: relative;
}

.events-home:hover .overlay {
  height: 30%;
}

.events-home-img img {
  height: auto;
  width: 70%;
  /* width: clamp(12.5rem, 8.75rem + 18.75vw, 31.25rem); */
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-alpha);
  overflow: hidden;
  width: 70%;
  height: 0;
  transition: 0.5s ease;
  color: var(--color-white);
}

.home-text-wrapper {
  font-size: var(--fs-s);
}

h3 hr {
  width: 20%;
  border-top: 2px solid var(--color-first);
  border-bottom: none;
}
.home-text-img {
  background-image: url(../images/games.jpg);
  width: 90%;
  aspect-ratio: 1/1;
}
.exhibition-home-img {
  background-image: url(../images/show.jpg);
  width: 100vw;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-div {
  background-color: var(--color-alpha);
  color: var(--color-white);
  padding: 0 2rem;
}

.museum-text-wrapper {
  flex-wrap: wrap;
}

.museum-img {
  background-image: url(../images/museum.jpg);
  width: 90%;
  aspect-ratio: 1/1;
}

/********** footer *********/
footer {
  background-color: #313131;
  color: var(--color-white);
  font-family: var(--fs-montserrat);
  font-size: var(--fs-s);
  padding: var(--margin-s);
}

footer h5 {
  font-size: var(--fs-m);
  margin: 3%;
}

.time p {
  margin: 0 10px;
}

.icon-footer {
  font-size: var(--fs-l);
}
