html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.6rem;
  min-height: 100vh;
}

:root {
  --fs-xs: clamp(1.5rem, 1.2rem + 1.5vw, 3rem);
  --fs-s: clamp(1.5rem, 1rem + 2.5vw, 4rem);
  --fs-m: clamp(2rem, 1.4rem + 3vw, 5rem);
  --fs-l: clamp(2rem, 1.2rem + 4vw, 6rem);
  --fs-xl: clamp(2rem, 1rem + 5vw, 7rem);

  --fs-chakra: "Chakra Petch", sans-serif;
  --fs-montserrat: "Montserrat", sans-serif;

  --color-first: #02004a;
  --color-second: #4e4d8a;
  --color-third: #6f5b97;
  --color-forth: #876487;
  --color-white: #fff;

  --margin-s: 5%;
  --margin-m: 10%;
  --margin-l: 15%;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
}

.cc-img {
  background-position: center;
  background-size: cover;
}

.bold {
  font-weight: bold;
}

/********* Index *********/

/****** header *******/

header {
  background-image: url(../images/luke-v.jpg);
  width: 100%;
  flex-direction: column;
  padding: 0 5%;
  background-position: top;
  background-size: cover;
}
.bar-section {
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  width: 100%;
}

.logo-img {
  width: var(--fs-l);
}

#menubar,
nav {
  display: none;
}
#menubar:checked ~ nav {
  display: block;
}
nav {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 5%;
}
.nav-bar {
}

nav a {
  font-family: var(--fs-chakra);
  display: block;
  color: var(--color-white);
  text-decoration: none;
  font-size: var(--fs-xs);
}
nav a:hover {
  text-decoration: underline;
}

.fa-bars {
  color: var(--color-white);
  font-size: 2rem;
}

@media (max-width: 767px) {
  nav {
    margin-top: 1rem;
    background-image: url(../images/luke-v.jpg);
    background-position: center 10%;
    background-size: cover;
  }
}

@media (min-width: 768px) {
  nav {
    display: block;
    display: flex;
    position: static;
    padding: 0;
  }

  nav a {
    margin-left: 1.5rem;
  }
  #menubar {
    display: none;
  }

  .menu-label {
    display: none;
  }
  hr {
    display: none;
  }
}

.hero-text {
  color: var(--color-white);
  text-align: right;
}

.hero-text h1 {
  font-family: var(--fs-chakra);
  font-size: var(--fs-xl);
  margin-bottom: 0;
}

.hero-text p {
  font-family: var(--fs-montserrat);
  font-size: var(--fs-s);
  font-style: italic;
}

.planet-img {
  background-image: url(../images/solen.png);
  height: clamp(10rem, 6rem + 20vw, 30rem);
  aspect-ratio: 2/1;
}

/******* body *******/
